In [3]:
import numpy as np
import xarray as xr
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
# create an Empty DataFrame object
df_targ = pd.DataFrame()
df_feat = pd.DataFrame()

In [5]:
ds = xr.open_dataset("/home/chuchun2/hackathon_data/training.nc")

In [6]:
y_name = ['ccn_001',
 'ccn_003',
 'ccn_006',
 'CHI',
 'CHI_CCN',
 'D_ALPHA',
 'D_GAMMA',
 'D_ALPHA_CCN',
 'D_GAMMA_CCN',
 'PM25']

In [7]:
x_name = ['TOT_NUM_CONC',
 'TOT_MASS_CONC',
 'pmc_SO4',
 'pmc_NO3',
 'pmc_Cl',
 'pmc_NH4',
 'pmc_ARO1',
 'pmc_ARO2',
 'pmc_ALK1',
 'pmc_OLE1',
 'pmc_API1',
 'pmc_API2',
 'pmc_LIM1',
 'pmc_LIM2',
 'pmc_OC',
 'pmc_BC',
 'pmc_H2O',
 'TEMPERATURE',
 'REL_HUMID',
 'ALT',
 'Z',
#  'XLAT',
#  'XLONG',
 'h2so4',
 'hno3',
 'hcl',
 'nh3',
 'no',
 'no2',
 'no3',
 'n2o5',
 'hono',
 'hno4',
 'o3',
 'o1d',
 'O3P',
 'oh',
 'ho2',
 'h2o2',
 'co',
 'so2',
 'ch4',
 'c2h6',
 'ch3o2',
 'ethp',
 'hcho',
 'ch3oh',
 'ANOL',
 'ch3ooh',
 'ETHOOH',
 'ald2',
 'hcooh',
 'RCOOH',
 'c2o3',
 'pan',
 'aro1',
 'aro2',
 'alk1',
 'ole1',
 'api1',
 'api2',
 'lim1',
 'lim2',
 'par',
 'AONE',
 'mgly',
 'eth',
 'OLET',
 'OLEI',
 'tol',
 'xyl',
 'cres',
 'to2',
 'cro',
 'open',
 'onit',
 'rooh',
 'ro2',
 'ano2',
 'nap',
 'xo2',
 'xpar',
 'isop',
 'isoprd',
 'isopp',
 'isopn',
 'isopo2',
 'api',
 'lim',
 'dms',
 'msa',
 'dmso',
 'dmso2',
 'ch3so2h',
 'ch3sch2oo',
 'ch3so2',
 'ch3so3',
 'ch3so2oo',
 'ch3so2ch2oo',
 'SULFHOX',
 'P',
 'PB']

In [8]:
df_targ['name'] = y_name

y_min = np.zeros(len(y_name)) * np.nan
y_max = np.zeros(len(y_name)) * np.nan
for iy in range(len(y_name)):
    y_min[iy] = ds[y_name[iy]].values.flatten().min()
    y_max[iy] = ds[y_name[iy]].values.flatten().max()
    
df_targ['min'] = y_min
df_targ['max'] = y_max
df_targ

          name           min           max
0      ccn_001  4.287960e+02  8.280847e+08
1      ccn_003  1.046070e+06  3.339078e+09
2      ccn_006  1.982496e+06  7.082867e+09
3          CHI  2.641267e-01  9.155579e-01
4      CHI_CCN  9.196205e-02  9.300261e-01
5      D_ALPHA  1.108871e+00  5.194850e+00
6      D_GAMMA  1.161668e+00  7.219007e+00
7  D_ALPHA_CCN  1.044357e+00  1.855703e+00
8  D_GAMMA_CCN  1.063765e+00  2.000000e+00
9         PM25  1.153418e-11  8.216719e-08

In [9]:
df_targ.to_csv('./data/df_targ.csv')

In [10]:
df_feat['name'] = x_name

x_min = np.zeros(len(x_name)) * np.nan
# x_max = np.zeros(len(x_name)) * np.nan
for ix in range(len(x_name)):
    x_min[ix] = ds[x_name[ix]].values.flatten().min()
#     x_max[ix] = ds[x_name[ix]].values.flatten().max()
    
df_feat['min'] = x_min
# df_feat['max'] = x_max
df_feat

             name           min
0    TOT_NUM_CONC  1.626811e+07
1   TOT_MASS_CONC  1.777052e-11
2         pmc_SO4  8.903093e-12
3         pmc_NO3  0.000000e+00
4          pmc_Cl  0.000000e+00
..            ...           ...
95       ch3so2oo  0.000000e+00
96    ch3so2ch2oo  0.000000e+00
97        SULFHOX  1.000000e-16
98              P -1.097919e+03
99             PB  5.173823e+03

[100 rows x 2 columns]

In [11]:
# df_feat['name'] = x_name

# x_min = np.zeros(len(x_name)) * np.nan
x_max = np.zeros(len(x_name)) * np.nan
for ix in range(len(x_name)):
#     x_min[ix] = ds[x_name[ix]].values.flatten().min()
    x_max[ix] = ds[x_name[ix]].values.flatten().max()
    
# df_feat['min'] = x_min
df_feat['max'] = x_max
df_feat

             name           min           max
0    TOT_NUM_CONC  1.626811e+07  1.187486e+10
1   TOT_MASS_CONC  1.777052e-11  8.326347e-08
2         pmc_SO4  8.903093e-12  5.741395e-09
3         pmc_NO3  0.000000e+00  7.747144e-09
4          pmc_Cl  0.000000e+00  9.199187e-11
..            ...           ...           ...
95       ch3so2oo  0.000000e+00  2.741648e-13
96    ch3so2ch2oo  0.000000e+00  1.000516e-16
97        SULFHOX  1.000000e-16  4.472326e-02
98              P -1.097919e+03  2.661372e+03
99             PB  5.173823e+03  1.001616e+05

[100 rows x 3 columns]

In [12]:
df_feat.to_csv('./data/df_feat.csv')